body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #003366;
    font-family: Arial, sans-serif;
}
.login-container {
    background-color: white;
    padding: 70px;
    border-radius: 7px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
}
input[type="text"], input[type="password"] {
    width: calc(100% - 40px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
}
.password-container {
    position: relative;
}
.toggle-password {
    position: absolute;
    right: -8px;
    top: 15px;
    cursor: pointer;
}
button {
    width: 250px;
    background-color: #004488; 
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-size: 20px;
    margin: 10px 0; 
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 0 0 #0f172a;
    transition: background-color 0.3s;
}

button:hover {
    box-shadow:6px 6px 0 0 #0f172a;
    transform:translate(-2px, -2px);
    background-color: #005599; 
}