body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #003366; 
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

cookie-button {
    background-color: #004488; 
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-size: 20px;
    margin: 10px 0; 
    cursor: pointer;
    border-radius: 5px;
}

button {
    background-color: #004488; 
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-size: 20px;
    margin: 10px 0; 
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 0 0 #0f172a;
    transition: background-color 0.3s;
}

button:hover {
    box-shadow:5px 5px 0 0 #0f172a;
    transform:translate(-2px, -2px);
    background-color: #005599; 
}

button:active {
    box-shadow:2px 2px 0 0 #0f172a;
    transform:translate(4px, 4px);
    background-color: #005599; 
}

#cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000; 
    color: white;
    text-align: center;
    padding: 15px;
    display: none; 
}

#cookie-accept {
    background-color: #005599; 
    border: none;
    color: white;
    padding: 5px 5px;
    cursor: pointer;
}

.delete-user{
    float: right;
    background-color: white; 
    border: 1px solid black;
    color: black;
    padding: 5px 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
    button {
        width: 80%;
        font-size: 18px;
    }

   
    body {
        height: auto; 
        padding: 20px;       
        box-sizing: border-box; 
    }
}

table{
    border: 3px solid white;
}
th{
    width: 40%;
    border: 1px solid white;
}
td{
    padding: 8px;
    border: 1px solid white;
}
e, [21.08.2024 11:59]
.teachers{
            background-color: #004488; 
            border: none;
            color: white;
            padding: 15px;
            text-align: center;
            text-decoration: none;
            display: inline-block; 
            font-size: 20px;
            margin: 10px 0; 
            cursor: pointer;
            border-radius: 5px;
        }
.accept-teachers{
            background-color: #004488; 
            border: none;
            color: white;
            padding: 15px;
            text-align: center;
            text-decoration: none;
            display: inline-block; 
            font-size: 20px;
            margin: 10px 0; 
            cursor: pointer;
            border-radius: 5px;
            box-shadow: 2px 2px 0 0 #0f172a;
        }
.add-teacher
{
     margin: 0;
    font-family: Arial, sans-serif;
    background-color: #7395AE; 
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}
.addb-teacher
{
    font-style: italic;
    text-shadow: 2px 2px black;
    background-color: #557A95;
}
.add-teacher-general-div
{
background-color: #004488;
width:30%;
height: 80%;
border-radius: 15px;
box-shadow: 5px 5px 0 0 #0f172a;
}
.h1-rofl
{
color:#004488 ;
user-select: none;
}